* {
    margin: 0%;
    padding: 0%
}

body {
    background-image:linear-gradient(rgba(0,0,00.5),rgba(0,0,0,0.5)),url('website-startups.jpg');
    height: 100vh;
    background-size: cover;
}


.main-nav1  {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav1 li {
    display: inline-block;
}

.main-nav1 li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav1 li.active a {
    border: 1px solid white;
}

.main-nav1 li :hover {
    border: 1px solid white;
}

.logo img {
    width: 150px;
    height: 80px;
    float: left;
}

.row1 {
    max-width: 1200px;
    margin: auto;
    height: 150px;
}

.content {
    color: white;
    text-decoration: none;
    /* text-decoration-color: aqua; */
}


/* new */


h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}



/* footer */

#introduction {
    background: linear-gradient(rgba(100,181,246 ,1), rgba(0,0,0,0.8)), url('http://bit.ly/2fBj6OJ') 0% 0%/cover 
  }
  
  
  #info-3 {
    background: linear-gradient(rgba(100,181,246 ,0.3), rgba(0,0,0,0.8)),url("http://bit.ly/2xMHeVk") 0% 0%/cover;
  }
  
  
  #feature-rundown img {
    width: 120px;
  }
  
  /*-===== dev ===== */
  .debug {
    border: 2px solid red;
  }
  /*============ Utility classes. 
   Use swush for faster ease of development ============*/
  
  .fill-viewport {
    min-height: 100vh
  }
  .fill-40-viewport {
    min-height: 40vh
  }
  .fill-80-viewport {
    min-height: 80vh
  }
  .fill-90-viewport {
    min-height: 90vh
  }
  .jumbotron-transparent {
    background-color: transparent
  }
  .text-white-70 {
    color: rgba(255,255,255,0.7)
  }
  .text-black-70 {
    color: rgba(0,0,0,0.7)
  }
  .text-black-40 {
    color: rgba(0,0,0,0.4)
  }
  .text-white-40 {
    color: rgba(255,255,255,0.4)
  }
  
  /*== 1. 
    1. Borders along x an y
    2. Borders with colors i.e the shades of white and gray above
    3. Unordered list with borders all round
    4. Unordered list with borders along y, as in pricing table here
    5. Border size class*/
  
  .list-border-y li {
    border-top: 1px solid
  }
  .list-border-y li:last-child {
    border-bottom: 1px solid
  }
  .list-border-black-20 li,
  .list-border-black-20 li:last-child{
    border-color: rgba(0,0,0,0.2)
  }
  
  
  
  
  @media screen and (min-width: 768px ){
    /*need to set flex-basis and have it dependent on size too
    usage tip: if you want the element to NOT be positioned in the
    center, add this class to a non `.container` div. Container divs in
    bootstrap are styled to seat in the center of the page. 
    */
    .basis-md-50 {
      flex-basis: 50%
    }  
  }